body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

h3 {
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
}

.chart {
    position: relative;
}