/* Основные стили */
body {
    background: #1e1e1e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #4ca1af;
    animation: slideIn 1s ease-in-out;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.profile-details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.profile-details td {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.profile-details tr td:first-child {
    color: #999;
}

.profile-details tr td:last-child {
    text-align: right;
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.text-left{
    text-align: start;
}

.text-right{
    text-align: end;
}
